.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #000000;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
/* Navbar Start */
img#rishikalogo {
    margin-top: -20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000000;
    background: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #000000;
    color: #000 !important;
}
.navbar-section button.btn.btn-warning {
    margin-top: 8px;
    border-radius: 50px;
    color: #000;
    box-shadow: rgb(255 201 40) 0px 0px 0px 2px, rgb(255 201 40 / 58%) 0px 4px 6px -1px, rgb(255 218 109 / 41%) 0px 1px 0px inset;
    font-weight: 500;

}
img.crown-prime {
    width: 22px;
    padding: 0px 6px 1px 0px;
    filter: drop-shadow(2px 4px 6px black);
}


.rentproperty {
    display: flex;
    justify-content: end;
    margin-top: -34px;
}

.sellorrent {
    padding: 5px 5px 5px 5px;
    color: #fff;
    border: 1px solid #ffc928;
    cursor: pointer;
}
button#login-btn {
    margin-left: 20px;
}
button#login-btn {
    margin-left: 20px;
    background: #ffc928;
    color: #000;
    border: none;
}
.sellorrent:hover {
    background-color: #ffc928;
    border: none;
    color: #000;
    border-radius: 20px;
}
